body{
    background-color: #efefef;
    margin: 0;
}

.content-body{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
}

h1{
    color: #0FC100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3, h4, p, ul, li{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #0FC100;
    font-style: italic;
    margin-bottom: .5rem;
}

h3{
    margin: 0;
    margin-top: 1rem;
    font-size: 1.1rem;
}

h4{
    color: #c1bec5;
    margin-top: .3rem;
    margin-bottom: .5rem;
}

li{
    margin-top: .5rem;
}


a, button{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: .1rem;
    border-radius: 1rem;
    border-color: grey;
    border-style: solid;
    text-decoration: none;
    font-size: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
}

header div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header p, header nav{
    align-self: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

nav a{
    margin-left: .2rem;
}

nav{
    margin-right: .5rem;
    justify-self: right;
}

header p{
    margin-left: .5rem;
    font-size: 2rem;
}

.work-card p{
    font-size: .8rem;
    margin-top: 0;
}

.work-card{
    margin-bottom: 2rem;
}

footer{
    margin-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#external{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: .5rem;
}

a{
    transition: transform .2s;
}

button{
    transition: transform .2s;
    margin-left: .5rem;
    margin-right: .5rem;
}

.hoverable{
    transition: transform .2s;
}

.hoverable:hover{
    transform: scale(1.1);
}

a:hover{
    transform: scale(1.05);
}

button:hover{
    transform: scale(1.05);
}

iframe{
    align-self: center;
    width: 100%;
}

rect{
    fill:#0FC100;
}

text{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    fill: grey;
}

.purple{
    fill:#3B1769;
}

.too-short{
    fill: grey;
}

.hidden{
    display: none;
}


/*600 px*/
@media (min-width: 37.5rem){
    header p{
        margin-left: .5rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
        font-size: 3rem;
        margin-left: 1.5rem;
    }

    nav a, button{
        font-size: 1.5rem;
        padding: .5rem 1rem;
        border-radius: 2rem;
    }

    nav{
        margin-right: 1.5rem;
    }
}

/*900 px*/
@media(min-width: 56.25rem){
    #skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    #skills div{
        padding: 0rem 1rem;
        border-width: .2rem;
        border-color: #c1bec5;
        border-style: solid;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    #work, #projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    .work-card{
        padding: 0rem 1rem;
        border-width: .2rem;
        border-color: #c1bec5;
        border-style: solid;
        border-radius: 1rem;
    }

    h2{
        margin-bottom: 1rem;
    }

    #external{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        column-gap: 3rem;
    }

    .too-short{
        fill: #3B1769;
    }

}

/*1200 px*/
@media(min-width: 75rem){
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3, a{
        font-size: 2rem;
    }

    h4{
        font-size: 1.5rem;
    }

    .work-card p{
        font-size: 1.2rem;
    }

    p, li{
        font-size: 1.5rem;
    }
}